<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>PLS UPLOAD A FILE IN A FOLDER!</h1>
    <!-- <form action="/folder" method="POST" enctype="multipart/form-data">
        <label for="foldername">FOLDERNAME</label>
        <input type="text" name="foldername">
        <br>
        <label for="uploads">FILE</label>
        <input type="file" name="uploads" multiple>
        <br>
        <button type="submit">UPLOAD</button>
    </form> -->


    <form action="/folder" method="POST" enctype="multipart/form-data">
        <label for="foldername">FOLDERNAME</label>
        <input type="text" name="foldername">
        <br>
        <!-- <label for="uploads">FILE</label> -->
        <input type="file" name="image" >
        <br>
        <button type="submit">UPLOAD</button>
    </form>
    
</body>
</html>